In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

# Files to load
meteorite_landing = "Data/meteorite-landings2.csv"

# Read files and store into Pandas data frames
meteorite_landing = pd.read_csv(meteorite_landing)

meteorite_landing

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,GeoLocation
0,Aachen,1,Valid,L5,21.0,Fell,1880.0,50.77500,6.08333,"(50.775000, 6.083330)"
1,Aarhus,2,Valid,H6,720.0,Fell,1951.0,56.18333,10.23333,"(56.183330, 10.233330)"
2,Abee,6,Valid,EH4,107000.0,Fell,1952.0,54.21667,-113.00000,"(54.216670, -113.000000)"
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,1976.0,16.88333,-99.90000,"(16.883330, -99.900000)"
4,Achiras,370,Valid,L6,780.0,Fell,1902.0,-33.16667,-64.95000,"(-33.166670, -64.950000)"
...,...,...,...,...,...,...,...,...,...,...
45711,Zillah 002,31356,Valid,Eucrite,172.0,Found,1990.0,29.03700,17.01850,"(29.037000, 17.018500)"
45712,Zinder,30409,Valid,"Pallasite, ungrouped",46.0,Found,1999.0,13.78333,8.96667,"(13.783330, 8.966670)"
45713,Zlin,30410,Valid,H4,3.3,Found,1939.0,49.25000,17.66667,"(49.250000, 17.666670)"
45714,Zubkovsky,31357,Valid,L6,2167.0,Found,2003.0,49.78917,41.50460,"(49.789170, 41.504600)"
45715,Zulu Queen,30414,Valid,L3.7,200.0,Found,1976.0,33.98333,-115.68333,"(33.983330, -115.683330)"

In [3]:
# Narrow down the rows to include only fallen meteroties


meteorite_fell = meteorite_landing.loc[
    meteorite_landing["fall"] == "Fell",:   
]
meteorite_fell

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,GeoLocation
0,Aachen,1,Valid,L5,21.0,Fell,1880.0,50.77500,6.08333,"(50.775000, 6.083330)"
1,Aarhus,2,Valid,H6,720.0,Fell,1951.0,56.18333,10.23333,"(56.183330, 10.233330)"
2,Abee,6,Valid,EH4,107000.0,Fell,1952.0,54.21667,-113.00000,"(54.216670, -113.000000)"
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,1976.0,16.88333,-99.90000,"(16.883330, -99.900000)"
4,Achiras,370,Valid,L6,780.0,Fell,1902.0,-33.16667,-64.95000,"(-33.166670, -64.950000)"
...,...,...,...,...,...,...,...,...,...,...
1103,Zhuanghe,30408,Valid,H5,2900.0,Fell,1976.0,39.66667,122.98333,"(39.666670, 122.983330)"
1104,Zmenj,30411,Valid,Howardite,246.0,Fell,1858.0,51.83333,26.83333,"(51.833330, 26.833330)"
1105,Zomba,30412,Valid,L6,7500.0,Fell,1899.0,-15.18333,35.28333,"(-15.183330, 35.283330)"
1106,Zsadany,30413,Valid,H5,552.0,Fell,1875.0,46.93333,21.50000,"(46.933330, 21.500000)"
1107,Zvonkov,30415,Valid,H6,2568.0,Fell,1955.0,50.20000,30.25000,"(50.200000, 30.250000)"

In [4]:
meteorite_fell.to_csv('Data/meteorite_landing.csv')
meteorite_fell.to_json('Data/meteorite_landing.json')

In [9]:
meteorite_mass = meteorite_fell[["recclass", "mass"]]
meteorite_group = meteorite_mass.groupby(["recclass"])["mass"].sum()
meteorite_group = meteorite_group.reset_index()
meteorite_group.to_json("Data/meteorite_mass.json")